<link rel="stylesheet" type="text/css" href="our-cats.component.css"/>

<app-navigation></app-navigation>

<!--TITLE PART-->
<div class="our-cats-page">
    <div class="header-container">
        <img src="assets/our-cats/pawdot.png" alt="Dot Paw" class="dot-paw left-dot-paw">
        <h1>OUR CATS</h1>
        <img src="assets/our-cats/pawdot.png" alt="Dot Paw" class="dot-paw right-dot-paw">
    </div>
    <p>Discover the wonderful cats currently in our care, each one looking for a loving forever home.</p>
</div>

<!--Nav BAR-->
<div class="section-nav">
    <h2>OUR CATS   / </h2>
    <a href="#cats-of-the-week" class="nav-button">Cats of the week</a>
    <a href="#our-cats" class="nav-button">Our Cats</a>
    <a href="#adoption-process" class="nav-button">Adoption Process</a>
    <a href="#preparing-home" class="nav-button">Preparing Home</a>
    <a href="#faq" class="nav-button">FAQ</a>
    <a href="#contact-us" class="nav-button">Contact Us</a>
</div>
<hr class="divider-line">

<!-- Nice and Bad Cat of the Week Section -->
<div class="cat-week-section">
    <div class="left-section">
        <h2>NICE</h2>
        <div class="mushroom-frame">
            <img src="assets/our-cats/vanya.png" alt="Vanya">
        </div>
        <h3>VANYA</h3>
        <p>has opened up and showed the staff how much she loves belly rubs.</p>
    </div>
    <div class="middle-section">
        <h1>CATS<br>OF<br>THIS<br>WEEK</h1>
    </div>

    <div class="right-section">
        <h2>BAD</h2>
        <div class="mushroom-frame">
            <img src="assets/our-cats/api.png" alt="Api">
        </div>
        <h3>API</h3>
        <p>stole treats from Boci, his BLIND roommate.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let cat of cat">
        <div class="card mb-4">
          <img *ngIf="cat.cat_picture" class="card-img-top" [src]="cat.cat_picture" alt="Image of {{ cat.cat_name }}">
          <img *ngIf="!cat.cat_picture" class="card-img-top placeholder-image">
          <div class="card-body">
            <h3 class="card-title">{{ cat.cat_name }}</h3>
            <p class="card-text">{{ cat.cat_description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Color: {{ cat.cat_color }}</li>
            <li class="list-group-item">Breed: {{ cat.cat_breed }}</li>
            <li class="list-group-item">Age: {{ cat.cat_age }} years</li>
            <li class="list-group-item">Gender: {{ cat.cat_gender }}</li>
            <li class="list-group-item">{{ cat.good_cat_status }} Cat</li>
          </ul>
        </div>
      </div>
    </div>
</div>
