<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Page Title</title>
        <link rel="stylesheet" type="text/css" href="about.component.css"/>
        <script src="script.js" defer></script>
    </head>

<body>
    <div class="header">
        <img src="png-about/logo.png" alt="Logo" class="logo">
        <ul class="nav-buttons">
            <li><a href="#" class="nav-button">Home</a></li>
            <li><a href="#" class="nav-button">Adopt a Cat</a></li>
            <li><a href="#" class="nav-button">About Us</a></li>
            <li><a href="#" class="sign-in-button">Sign In</a></li>
        </ul>
    </div>

    <!--Abut Us Part-->

    <div class="about-us-page">
        <h1>About Us</h1>
        <p>At Paws of Hope, we believe in the transformative power of compassion. 
            Those who come to us - whether to foster, adopt, donate, volunteer, or simply care - 
            become part of our mission to rescue and nurture cats, 
            creating a community where every act of kindness saves lives.</p>
        <img src="png-about/about1.png" alt="About Us Img" class="aboutimg">
    </div>

    <!--Navigation Bar for About Us-->
    <div class="section-nav">
        <h2>ABOUT US   / </h2>
        <a href="#mission" class="nav-button">Our Mission</a>
        <a href="#what-we-do" class="nav-button">What We Do?</a>
        <a href="#success-stories" class="nav-button">Success Stories</a>
        <a href="#our-team" class="nav-button">Our Team</a>
        <a href="#how-you-can-help" class="nav-button">How You Can Help</a>
        <a href="#contact-us" class="nav-button">Contact Us</a>
    </div>
    <hr class="divider-line">

    <!-- OUR MISSION -->
    <div id="mission" class="section mission-section">
        <div class="left-mission">
            <iframe width="500px" height="300px" src="https://www.youtube.com/embed/6xtF2L90ud4?si=og9Pa7amu_cBEfVV" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="right-mission">
            <h3>Our mission is to save the lives of all healthy and treatable animals in the Pécs Area.</h3>
            <p>PTE Cats Center of Pécs is a nonprofit organization established in 2024 with a heartfelt mission to provide sanctuary and care for feline friends in need. As a dedicated cat shelter, we are committed to nurturing and finding loving homes for our furry companions.</p>
            <p>Much like a public hospital, our open-admission shelter, PTE Cats Center of Pécs, welcomes every cat in need, regardless of their condition. While we can't save them all, with the unwavering support of our community, we strive to rescue and rehabilitate every healthy and treatable cat entrusted to our care.</p>
        </div>
    </div>
    <hr class="divider-line1">


    <!-- WHAT WE DO-->
    <div id="what-we-do" class="section what-we-do-section">
        <h4>What <span class="highlight">We</span> Do?</h4>

        <div class="card-container">
            <div class="card1">
                <img src="png-about/wwd1.png" alt="Vaccination">
                <h5>Vaccination</h5>
                <p>Our primary focus is on rescuing cats in distress, providing them with immediate medical attention, and nurturing them back to health in a safe and loving environment. Through our dedicated team of caregivers and volunteers, we ensure that each cat receives personalized care and attention tailored to their unique needs, preparing them for their journey to a forever home.</p>
            </div>

            <div class="card2">
                <img src="png-about/wwd2.png" alt="Rehab">
                <h5>Rescue and Rehabilitation</h5>
                <p>Our primary focus is on rescuing cats in distress, providing them with immediate medical attention, and nurturing them back to health in a safe and loving environment. Through our dedicated team of caregivers and volunteers, we ensure that each cat receives personalized care and attention tailored to their unique needs, preparing them for their journey to a forever home.</p>
            </div>

            <div class="card3">
                <img src="png-about/wwd3.png" alt="Microchipping">
                <h5>Microchipping</h5>
                <p>As part of our commitment to responsible pet ownership, we offer microchipping services to all cats in our care. Microchipping provides a permanent form of identification, ensuring that lost or stray cats can be quickly reunited with their families. By microchipping every cat before adoption, we provide peace of mind to both adopters and our feline friends, ensuring a lifetime of love and security.</p>
            </div>
        </div>

    </div>


<!--STORIES-->
    <div id="success-stories" class="section">
        <div class="stories">
            <div class="stories-left">
                <h1>DISCOVER OUR <br>
                    <span class="highlight">HEARTWARMING</span> <br>STORIES</h1>
                
                    <p>Adopting a cat isn't just adding a pet to your home.
                        It's welcoming a furry family member who fills your life with love and joy.</p>
    
                    <p>Dive into our heartwarming adoption tales and witness the transformative power of love and compassion.</p>
                    <a href="/about" class="contact-us-button">CONTACT US!</a>
            </div>
    
       
            <div class="stories-right">
    
                <div class="container">
                    <!-- Story1-->
                    <div class="card card-1">
                    <div class="card-content">
                        <div class="circle-frame">
                        <img src="png-about/story1.png" alt="Story 1" class="object-cover">
                        </div>
                        <blockquote>"I can't thank PTEcats enough for helping me find my perfect cat companion. 
                        From the moment I walked into their center, I felt welcomed and understood. 
                        The adoption process was simple, and the team took the time to ensure I was well-prepared for my new furry family member."
                        </blockquote>
                        <p class="adopter-name">Erdemtugs Erdenetogtokh</p>
                    </div>
                    </div>
    
                    <!-- Story2-->
                    <div class="card card-2">
                    <div class="card-content">
                        <div class="circle-frame">
                        <img src="png-about/story2.png" alt="Story 2" class="object-cover">
                        </div>
                        <blockquote>"Adopting from PTEcats was the best decision I ever made! 
                        My new furry friend has brought so much happiness into my life. 
                        The process was smooth, and the staff were incredibly helpful and supportive. 
                        I highly recommend adopting from them!"
                        </blockquote>
                        <p class="adopter-name">Vanessa Munson</p>
                    </div>
                    </div>
    
                    <!-- Story3-->
                    <div class="card card-3">
                    <div class="card-content">
                        <div class="circle-frame">
                        <img src="png-about/story3.png" alt="Story 3" class="object-cover">
                        </div>
                        <blockquote>"My experience with PTEcats was fantastic. 
                        They made the adoption process easy and stress-free. 
                        The staff were helpful and attentive, ensuring I found the perfect cat for my home. 
                        I'm grateful for their dedication to finding loving homes for cats."
                        </blockquote>
                        <p class="adopter-name">Alper Baykara</p>
                    </div>
                    </div>
    
                    <!-- Story4-->
                    <div class="card card-3">
                        <div class="card-content">
                            <div class="circle-frame">
                            <img src="png/story3.png" alt="Story 3" class="object-cover">
                            </div>
                            <blockquote>"I am really grateful that I found my Alaka in PTE Cats.
                                He has been great compnanion since then."
                            </blockquote>
                            <p class="adopter-name">Dardari Alaa</p>
                        </div>
                        </div>
    
                         <!-- Story5-->
                    <div class="card card-3">
                        <div class="card-content">
                            <div class="circle-frame">
                            <img src="png/story1.png" alt="Story 3" class="object-cover">
                            </div>
                            <blockquote>"Hello, it's ileri and leri.
                                I have never ever been this happier."
                            </blockquote>
                            <p class="adopter-name">Ileri</p>
                        </div>
                        </div>
                </div>
            </div>
    
               
        </div>
    
        
    </div>

    <div id="our-team" class="section">
        <h3>Our Team</h3>
        <p>Content for Our Team...</p>
    </div>

    <div id="how-you-can-help" class="section">
        <h3>How You Can Help</h3>
        <p>Content for How You Can Help...</p>
    </div>

    <div id="contact-us" class="section">
        <h3>Contact Us</h3>
        <p>Content for Contact Us...</p>
    </div>


