.logo {
    width: 65px;
    height: 65px;
}

.yellow {
    background-color: #DFC045;
}

.nav-item {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#signInButton {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}