<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-white">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<div class="header">
				<img src="logo.png" alt="Logo" class="logo">
				<div class="nav-buttons">
					<a href="#" class="nav-button">Home</a>
					<a href="#" class="nav-button">Adopt a Cat</a>
					<a href="#" class="nav-button">About Us</a>
					<button type="button" class="sign-in-button" (click)="openSignInModal()">Sign In</button>
 				</div>
			</div>
		</div>
	</div>
</nav>