<div>
  <h2>Register</h2>
  <form
    (submit)="
      register(
        name.value,
        email.value,
        password.value,
        password_confirmation.value
      )
    "
  >
    <input type="text" #name placeholder="Name" required />
    <input type="email" #email placeholder="Email" required />
    <input type="password" #password placeholder="Password" required />
    <input
      type="password"
      #password_confirmation
      placeholder="Confirm Password"
      required
    />
    <button type="submit">Register</button>
  </form>
</div>
